h1,
.h1 {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-size: 2.188rem;

    @include media-breakpoint-up(lg) {
        font-size: $h1-font-size;
    }
}

h2,
.h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
        margin-bottom: 2.5rem;
    }
}

h4,
.h4 {
    text-transform: uppercase;
}

ul:not([class]) {
    padding: 0;

    li {
        list-style-type: none;
        position: relative;
        padding-left: 30px;
        margin-bottom: 11px;

        &:before {
            content: "\e910";
            position: absolute;
            font-family: "icomoon";
            color: $primary;
            left: 9px;
            top: 0;

        }

    }
}

img {
    max-width: 100%;
    height: auto;
}

.blockquote-footer {
    font-size: $font-size-lg;

    cite {
        font-style: normal;
    }
}