<footer id="footer" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 order-lg-1 box">
                <div class="logotype">
                    <a href="">
                        <img src="images/logo.png" alt="image description">
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pellentesque accumsan ipsum, vel
                    facilisis sem vehicula fringilla. Pellentesque venenatis ac mi in pellentesque. Nam sit amet tellus
                    at neque finibus consequat vitae nec magna. Sed fringilla semper orci, in iaculis ligula imperdiet
                    vitae.</p>
                <a href="#" class="more">Read more <i class="icon icon-long-arrow-right"></i> </a>
            </div>
            <div class="col-sm-6 col-lg-4  order-md-1 mb-3 mb-lg-0">
                <h2 class="h4">Main Links</h2>
                <nav class="add-nav">
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Projects </a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Extra </a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-6 col-lg-4  order-md-1">
                <h2 class="h4">GET IN TOUCH</h2>
                <ul class="service-information list-unstyled">
                    <li> <i class="icon icon-map-marker"></i>
                        <address>166 Crown St, Sydney, Australia</address>
                    </li>
                    <li> <i class="icon icon-phone"></i> <a href="tel:13025552525">+61 2 1234 5678</a> </li>
                    <li> <i class="icon icon-envelope"></i> <a
                            href="mailto:support@interior.com">support@interior.com</a> </li>
                </ul>
                <ul class="social-networks list-unstyled">
                    <li><a href="#" aria-label="facebook link"><i class="icon icon-facebook"></i></a></li>
                    <li><a href="#" aria-label="twitter link"><i class="icon icon-twitter"></i></a></li>
                    <li><a href="#" aria-label="instagram link"><i class="icon icon-instagram"></i></a></li>
                    <li><a href="#" aria-label="youtube link"><i class="icon icon-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="access" tabindex="-1" role="dialog" aria-labelledby="accessLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="accessLabel">Access key details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" title="AccessKey">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Home page</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>What's new</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Feedback form</td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Access key details</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
