[id="footer"] {
    padding: 40px 0;
    color: $gray-300;

    .logotype {
        padding-bottom: rem(14);
    }

    .box {
        margin-bottom: 20px;
    }
 
    .more {
        vertical-align: middle;

        &:hover {
            text-decoration: none;
        }

        .icon {
            vertical-align: middle;
        }
    }

    .h4 {
        margin-bottom: rem(20);
        font-weight: 400; 
    }

    p {
        @include media-breakpoint-up(md) {
            margin-bottom: rem(22);
        }
    }

    a {
        color: inherit;

        &:hover {
            color: $primary;
        }
    }

    .social-networks {
        color: $white;
        margin: 0 -5px;

        a {
            color: inherit;
            line-height: 30px;
            font-size: 20px;
            width: 30px;
            height: 30px;
            border: 1px solid $gray-400;
            display: block;

            &:hover {
                color: $primary;
                border: 1px solid $primary;
            }
        }

        li {
            padding: 0 10px 5px;
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: none;
            font-size: 17px;
        }
    }
}

.add-nav {
    li {
        border-top: 1px solid #424242;
        padding: 9px 15px;
        position: relative;

        &:before {
            content: "\e902";
            font-family: "icomoon";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            font-size: 10px;
            font-weight: 600;
        }
    }

    a {
        text-decoration: none;
    }
}

.service-information {
    border-top: 1px solid #424242;
    padding-top: 24px;

    @include media-breakpoint-up(md) {
        margin-bottom: rem(48);
    }

    li {
        position: relative;
        padding-left: 27px;
        margin-bottom: 12px;
    }

    .icon {
        position: absolute;
        top: 6px;
        left: 0;
        color: $primary;
    }

    address {
        margin: 0;
    }
}