.dropdown-menu {
    background-color: transparent;

    @include media-breakpoint-up(lg) {
        background-color: $dropdown-bg;
    }

    .dropdown-item {

        .navbar-dark & {
            color: $navbar-dark-color;

            @include media-breakpoint-up(lg) {
                color: $dropdown-link-color;
            }
        }

    }
}

.navbar-brand{
    img{
        display:inline-block;
        vertical-align:top;
    }
}