<h1 class="h2 text-center">What we doing</h1>
<div class="row ">
        <div class="col-sm-6 col-md-4 d-flex mb-sm-4 mb-md-5">
           <div class="card">
              <img src="images/img-01.jpg" class="card-img-top" alt="">
              <div class="card-body">
                 <h4 class="card-title">Office Design</h4>
                 <p class="card-text">Aenean id nisi tortor. Nullam enim ante, blandit non sollicitudin at,
                    consectetur vel lorem. Duis interdum orci et neque interdum luctus. Vestibulum aliquet
                    tincidunt mollis. Quisque sagittis nunc sit amet justo mattis volutpat. Sed id nunc at
                    massa eleifend vestibulum.</p>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-sm-4 mb-md-5">
           <div class="card">
              <img src="images/img-02.jpg" class="card-img-top" alt="">
              <div class="card-body">
                 <h4 class="card-title">apartment design</h4>
                 <p class="card-text">Cras lacus nulla, efficitur vitae ante ut, vulputate congue odio. Ut
                    placerat dignissim ultricies. Fusce non sem nec orci dignissim vestibulum. Morbi risus
                    dolor, fringilla vitae elementum nec, hendrerit a neque. Pellentesque eu ullamcorper leo,
                    eget volutpat diam.</p>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-4 d-flex mb-sm-4 mb-md-5">
           <div class="card">
              <img src="images/img-03.jpg" class="card-img-top" alt="">
              <div class="card-body">
                 <h4 class="card-title">Commercial Design</h4>
                 <p class="card-text">Aenean id nisi tortor. Nullam enim ante, blandit non sollicitudin at,
                    consectetur vel lorem. Duis interdum orci et neque interdum luctus. Vestibulum aliquet
                    tincidunt mollis. Quisque sagittis nunc sit amet justo mattis volutpat. Sed id nunc at
                    massa eleifend vestibulum.</p>
              </div>
           </div>
        </div>
     </div>