<section class="section">
    <div class="container">
        <nav>
            <ul class="portfolio-nav cardsFilterBTNHolder">
                <li class="active"><a href="#" class="btn btn-secondary" data-filter="*">All projects</a></li>
                <li><a href="#" class="btn btn-secondary" data-filter=".office">Office</a></li>
                <li><a href="#" class="btn btn-secondary" data-filter=".apartment">Apartment</a></li>
                <li><a href="#" class="btn btn-secondary" data-filter=".commercial">Commercial</a></li>
            </ul>
        </nav>
    </div>
    <div class="row portfolio-list cardsFilterGridHolder">
        <div class="col col-md-6 col-lg-4 col-xl-3 apartment">
            <div class="card ">
                <img src="images/projects/project-01.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-01-full.jpg "
                    data-fancybox="images" aria-label="zoom">
                </a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-03.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-03-full.jpg "
                    data-fancybox="images" aria-label="zoom">
                </a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3 apartment">
            <div class="card ">
                <img src="images/projects/project-04.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-04-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-06.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-06-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-02.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-02-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-05.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-05-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-09.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-09-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-07.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-07-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-08.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-08-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div class="col col-md-6 col-lg-4 col-xl-3">
            <div class="card ">
                <img src="images/projects/project-10.jpg" class="card-img-top" alt="image description">
                <a class="link masonryGalleryLightbox" href="images/projects/project-10-full.jpg "
                    data-fancybox="images" aria-label="zoom"></a>
                <div class="card-body">
                    <h2 class="card-title h5"><a href="#">Apartment Project <i class="icon icon-long-arrow-right"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>