<section class="section">
   <div class="container">
      <h1 class="h2 text-center">Team members</h1>
      <div class="team-slider teamSliderHolder custom-carousel">
         <div class="slideset">
            <div class="slide">
               <div class="card">
                  <div class="img-block">
                     <img src="images/team/photo-01.jpg" class="card-img-top" alt="Person photo">
                     <div class="hover-block">
                        <ul class="info">
                           <li class="position">Manager</li>
                           <li><a href="tel:+13784001234">+1 (378) 400-1234</a></li>
                        </ul>
                        <ul class="social-networks">
                           <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                           <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                           <li><a href="#"><i class="icon icon-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <h2 class="card-title h5">Amanda Walker</h2>
                  </div>
               </div>
            </div>
            <div class="slide">
               <div class="card">
                  <div class="img-block">
                     <img src="images/team/photo-02.jpg" class="card-img-top" alt="Person photo">
                     <div class="hover-block">
                        <ul class="info">
                           <li class="position">Architect</li>
                        </ul>
                        <ul class="social-networks">
                           <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                           <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                           <li><a href="#"><i class="icon icon-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <h2 class="card-title h5">Robert Danvers</h2>
                  </div>
               </div>
            </div>
            <div class="slide">
               <div class="card">
                  <div class="img-block">
                     <img src="images/team/photo-03.jpg" class="card-img-top" alt="Person photo">
                     <div class="hover-block">
                        <ul class="info">
                           <li class="position">Manager</li>
                           <li><a href="tel:+13784001234">+1 (378) 400-1234</a></li>
                        </ul>
                        <ul class="social-networks">
                           <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                           <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                           <li><a href="#"><i class="icon icon-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <h2 class="card-title h5">Liz Taylor</h2>
                  </div>
               </div>
            </div>
            <div class="slide">
               <div class="card">
                  <div class="img-block">
                     <img src="images/team/photo-04.jpg" class="card-img-top" alt="Person photo">
                     <div class="hover-block">
                        <ul class="info">
                           <li class="position">Manager</li>
                           <li><a href="tel:+13784001234">+1 (378) 400-1234</a></li>
                        </ul>
                        <ul class="social-networks">
                           <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                           <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                           <li><a href="#"><i class="icon icon-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <h2 class="card-title h5">Jeffrey Dean</h2>
                  </div>
               </div>
            </div>
            <div class="slide">
               <div class="card">
                  <div class="img-block">
                     <img src="images/team/photo-01.jpg" class="card-img-top" alt="Person photo">
                     <div class="hover-block">
                        <ul class="info">
                           <li class="position">Manager</li>
                           <li><a href="tel:+13784001234">+1 (378) 400-1234</a></li>
                        </ul>
                        <ul class="social-networks">
                           <li><a href="#"><i class="icon icon-facebook"></i></a></li>
                           <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                           <li><a href="#"><i class="icon icon-instagram"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="card-body">
                     <h2 class="card-title h5">Amanda Walker</h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>