<section class="section">
        <div class="container">
           <h1 class="h2 text-center">Team members</h1>
           <div class="team-slider teamSliderHolder custom-carousel">
              <div class="slideset">
                 <div class="slide">
                    <div class="card">
                       <div class="img-block">
                          <img src="images/team/photo-02.jpg" class="card-img-top" alt="photo">
                          <div class="hover-block">
                             <ul class="info">
                                <li class="position">Architect</li>
                             </ul>
                             <ul class="social-networks">
                                <li><a href="#"><i class="icon icon-facebook">facebook</i></a></li>
                                <li><a href="#"><i class="icon icon-twitter">twitter</i></a></li>
                                <li><a href="#"><i class="icon icon-instagram">instagram</i></a></li>
                             </ul>
                          </div>
                       </div>
                       <div class="card-body">
                          <h5 class="card-title">Robert Danvers</h5>
                       </div>
                    </div>
                 </div>
                 <div class="slide">
                    <div class="card">
                       <div class="img-block">
                          <img src="images/team/photo-02.jpg" class="card-img-top" alt="photo">
                          <div class="hover-block">
                             <ul class="info">
                                <li class="position">Architect</li>
                             </ul>
                             <ul class="social-networks">
                                <li><a href="#"><i class="icon icon-facebook">facebook</i></a></li>
                                <li><a href="#"><i class="icon icon-twitter">twitter</i></a></li>
                                <li><a href="#"><i class="icon icon-instagram">instagram</i></a></li>
                             </ul>
                          </div>
                       </div>
                       <div class="card-body">
                          <h5 class="card-title">Liz Taylor</h5>
                       </div>
                    </div>
                 </div>
                 <div class="slide">
                    <div class="card">
                       <div class="img-block">
                          <img src="images/team/photo-02.jpg" class="card-img-top" alt="photo">
                          <div class="hover-block">
                             <ul class="info">
                                <li class="position">Jeffrey Dean</li>
                             </ul>
                             <ul class="social-networks">
                                <li><a href="#"><i class="icon icon-facebook">facebook</i></a></li>
                                <li><a href="#"><i class="icon icon-twitter">twitter</i></a></li>
                                <li><a href="#"><i class="icon icon-instagram">instagram</i></a></li>
                             </ul>
                          </div>
                       </div>
                       <div class="card-body">
                          <h5 class="card-title">Liz Taylor</h5>
                       </div>
                    </div>
                 </div>
                 <div class="slide">
                    <div class="card">
                       <div class="img-block">
                          <img src="images/team/photo-01.jpg" class="card-img-top" alt="photo">
                          <div class="hover-block">
                             <ul class="info">
                                <li class="position">Manager</li>
                                <li><a href="tel:+13784001234">+1 (378) 400-1234</a></li>
                             </ul>
                             <ul class="social-networks">
                                <li><a href="#"><i class="icon icon-facebook">facebook</i></a></li>
                                <li><a href="#"><i class="icon icon-twitter">twitter</i></a></li>
                                <li><a href="#"><i class="icon icon-instagram">instagram</i></a></li>
                             </ul>
                          </div>
                       </div>
                       <div class="card-body">
                          <h5 class="card-title">Amanda Walker</h5>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="controls">
                 <a href="#" class="btn-prev"> <i class="icon icon-left-arrow"></i> </a>
                 <a href="#" class="btn-next"><i class="icon icon-right-arrow"></i></a>
              </div>
           </div>
        </div>
     </section>