.projects-gallery {

    .mask {
        text-align: center;
        margin-bottom: 30px;
    }

    .thumbnail-wrap {
        padding: 0 33px;
        position: relative;

        li {
            padding: 1px;
            margin: 1px;
            &:focus {
                outline: none;
            }
        }

        button.holder {
            padding: 0;
            margin: 0 5px;
            border: 0;
            
        }

    }

    .btn-prev,
    .btn-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $black;
        text-decoration: none;

        &:before {
            font-family: "icomoon";
            font-size: 32px;
            line-height: 1;

            @include media-breakpoint-up(lg) {
                font-size: 30px;
            }
        }
    }

    .btn-prev {
        left: -5px;

        &:before {
            content: "\e909";
        }
    }

    .btn-next {
        right: -5px;

        &:before {
            content: "\e902";
        }
    }

    img {
        margin: 0;
    }

    ul {
        @extend %listreset;

        li {
            padding: 0;
            text-align: center;

            &:before {
                display: none;
            }
        }
    }
}

.test:focus {
    .card-body {
        opacity: 1;
    }
}