<!doctype html>
<html lang="en">
    <head>
        {% include "/includes/head.inc" %}
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{siteinformation.site_information.google_map_api_key}}"></script>
    </head>
    <body>
        <noscript>
            <div>Javascript must be enabled for the correct page display</div>
        </noscript>
        <div id="wrapper">
            {% component type: "snippet", alias: "header" %}
            <main id="main">
                {{pageContent}}
                <div id="carouselExampleCaptions" class="carousel slide visual" data-ride="carousel">
                    <div class="carousel-inner">
                        {% component source: "Home page slider", layout: "List", limit: "100", type: "module" %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators">
                        {% component source: "Home page slider", layout: "Indicators list", limit: "100", type: "module" %}
                    </ol>
                </div>
                <section class="section" id="content">
                    <div class="container">
                        <h1 class="h2 text-center">What we doing</h1>
                        <div class="row cards-list">
                           {% component source: "Our Directions", layout: "List", filterBy: "weighting", limit: "3", type: "module" %}
                        </div>
                        <div class="text-center">
                            <a href="/about" class="btn btn-primary">more about us</a>
                        </div>
                    </div>
                </section>
                <section class="section bg-block">
                    <h1 class="h2 text-center">projects</h1>
                    <div class="container">
                        <nav>
                            <ul class="portfolio-nav cardsFilterBTNHolder">
                             <li class="active"><a href="#" class="btn btn-secondary" data-filter="*">All projects</a></li>
                             <li><a href="#" class="btn btn-secondary" data-filter=".office">Office</a></li>
                             <li><a href="#" class="btn btn-secondary" data-filter=".apartment">Apartment</a></li>
                             <li><a href="#" class="btn btn-secondary" data-filter=".commercial">Commercial</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="row portfolio-list cardsFilterGridHolder ajaxListHolder">
                        {% component source: "Projects", layout: "List", limit: "6", sortBy: "releasedate", sortOrder: "DESC", type: "module" %}
                    </div>
                    <div class="text-center">
                       <a href="/projects" class="btn btn-primary">see more projects</a>
                    </div>
                </section>
                <section class="section">
                    {% component type: "snippet", alias: "team_members" %}
                </section>
                {% component type: "snippet", alias: "counter" %}
                <section class="section">
                    <div class="container">
                        <h1 class="h2 text-center">testimonials</h1>
                        <div class="custom-carousel testimonials-slider textSliderHolder">
                            <div class="slideset">
                                {% component source: "Testimonials Slider", layout: "List", sortBy: "releasedate", sortOrder: "DESC", limit: "500", type: "module" %}
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            {% include "/includes/map.inc" %}   
            {% component type: "snippet", alias: "footer" %}
            {% component type: "snippet", alias: "access_key" %}
        </div>
    </body>
</html>