<!doctype html>
<html lang="en">

<head>
    {% include "/includes/head.inc" %}
</head>
<body>
    <noscript>
        <div>Javascript must be enabled for the correct page display</div>
    </noscript>
    <section id="wrapper">
        {% component type: "snippet", alias: "header" %}
        <main role="main" id="main">
            
            {{pageContent}}
            
        </main>
    </section>

{% include "/includes/map.inc" %}    
{% component type: "snippet", alias: "footer" %}
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{siteinformation.site_information.api_key}}"></script>
</body>
</html>