<!doctype html>
<html lang="en">
    <head>
        {% include "/includes/head.inc" %}
        <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key={{siteinformation.site_information.google_map_api_key}}"></script>
    </head>
    <body>
        <noscript>
            <div>Javascript must be enabled for the correct page display</div>
        </noscript>
        <div id="wrapper">
            {% component type: "snippet", alias: "header" %}
            <main id="main">
                {{pageContent}}
            </main>
            {% include "/includes/map.inc" %}
            {% component type: "snippet", alias: "footer" %}
            {% component type: "snippet", alias: "access_key" %}
        </div>
    </body>
</html>