<section class="banner text-white text-center" style="background-image:url({{this['Image']}})">
    <span class="overlay"></span>
    <div class="container">
        <h1>{{this['Name']}}</h1>
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item " aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item "><a href="/projects">Projects</a></li>
                <li class="breadcrumb-item active"><a href="#">{{this['Name']}}</a></li>
            </ol>
        </nav>
    </div>
</section>           
<section class="section" id="content">
    <div class="container">
        <h1 class="h2 text-center">About the Project</h1>
        <div class="row">
            <div class="col-md-6">
                {{this['Description']}}
                <h4>Main information</h4>
                <dl class="row">
                        <dt class="col-sm-4">Date:</dt>
                        <dd class="col-sm-8">{{this['Date'] | date: "%B %Y" }}</dd>
                    {% if this['Location'].size > 0 %}
                        <dt class="col-sm-4">Location:</dt>
                        <dd class="col-sm-8">{{this['Location']}}</dd>
                    {% endif %}
                    {% if this['Value'].size > 0 %}
                        <dt class="col-sm-4">Value:</dt>
                        <dd class="col-sm-8">$ {{this['Value']}}</dd>
                    {% endif %}
                    {% if this['TotalSquare'].size > 0 %}
                        <dt class="col-sm-4">Total Square:</dt>
                        <dd class="col-sm-8">{{this['TotalSquare']}} sq. ft.</dd>
                    {% endif %}
                </dl>
            </div>
            <div class="col-md-6">
                <div class="projects-gallery carouselGalleryHolder">
                    <div class="mask">
                        <div class="slideset imageHolder">
                            <div class="slide">
                                <img src="{{this['SliderImg01']}}?height=365&mode=crop" alt="design photo">
                            </div>
                            <div class="slide">
                                <img src="{{this['SliderImg02']}}?height=365&mode=crop" alt="design photo">
                            </div>
                            <div class="slide">
                                <img src="{{this['SliderImg03']}}?height=365&mode=crop" alt="design photo">
                            </div>
                            <div class="slide">
                                <img src="{{this['SliderImg04']}}?height=365&mode=crop" alt="design photo">
                            </div>
                            <div class="slide">
                                <img src="{{this['SliderImg05']}}?height=365&mode=crop" alt="design photo">
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail-wrap">
                        <div class="thumbnail">
                            <ul>
                                <li><button class="holder"><img src="{{this['SliderImg01']}}?height=80&mode=crop" alt="design photo"></button></li>
                                <li><button class="holder"><img src="{{this['SliderImg02']}}?height=80&mode=crop" alt="design photo"></button></li>
                                <li><button class="holder"><img src="{{this['SliderImg03']}}?height=80&mode=crop" alt="design photo"></button></li>
                                <li><button class="holder"><img src="{{this['SliderImg04']}}?height=80&mode=crop" alt="design photo"></button></li>
                                <li><button class="holder"><img src="{{this['SliderImg05']}}?height=80&mode=crop" alt="design photo"></button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>