{% assign categoriesList = this['ItemCategories'] %}
<div class="col col-md-6 col-lg-4 col-xl-3 load-item {% for item in categoriesList %}{{item | downcase | replace: ' ', ''}} {% endfor %}">
    <div class="card">
        <img src="{{this['Image']}}" class="card-img-top" alt="{{this.name}}">
        <a class="link masonryGalleryLightbox" href="{{this['Image']}}" data-fancybox="images{{this['Id']}}"></a>
        <div class="card-body">
            <h5 class="card-title">
               <a href="{{this['Url']}}">
                    {% if this.name.size > 45 %}
                        {{this['Name'] | truncate: 45, '...'}} 
                    {% else %}
                        {{this['Name']}} 
                    {% endif %}
                      <i class="icon icon-long-arrow-right"></i>
                </a> 
            </h5>
        </div>
    </div>
</div>