.btn-primary,
.btn-secondary {
    text-transform: uppercase;
    color: $white;
  
}

.btn-primary {
    &:hover {
        background-color: #ff8a00;
        border-color: #ff8a00;
    }
}

.btn {
    font-weight: 500;
}

